html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.content {
  width: 100%;
  min-height: 100vh;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

/*
  Navigation.
*/
nav {
  max-width: 100%;
  height: 50px;
  margin: 0 auto;
  background-color: #259bc1;
}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
}

nav .container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #055e92;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container .logo img {
  padding-right: 10px;
}

nav .container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .container ul li {
  color: #80c4da;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0;
}

nav .container ul li a {
  font-size: 11px;
  color: inherit;
  text-decoration: none;
  display: inline-block;
  padding: 11.5px 10px;
  height: 100%;
}

nav .container ul li a:hover:not(.active) {
  color: #fff;
}

nav .container ul li:first-child {
  padding-right: 7px;
}

nav .container ul li:last-child {
  padding-right: 8px;
}

nav .container ul .active {
  background-color: #51afcd;
  border-radius: 5px;
}

nav .container ul .active a {
  color: #fff;
}

/*
  Search section.
*/
.search__section {
  padding: 17px 0;
  background-color: #f8f8f8;
}

.search__section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search__section .search-box {
  position: relative;
}

.search__section .search-box ::-webkit-input-placeholder {
  padding-left: 1px;
  font-size: 12px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  color: #c4c4c4;
}

.search__section .search-box :-ms-input-placeholder {
  padding-left: 1px;
  font-size: 12px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  color: #c4c4c4;
}

.search__section .search-box ::-ms-input-placeholder {
  padding-left: 1px;
  font-size: 12px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  color: #c4c4c4;
}

.search__section .search-box ::placeholder {
  padding-left: 1px;
  font-size: 12px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  color: #c4c4c4;
}

.search__section .search-box__input {
  background-color: #fff;
  caret-color: #fff;
  color: #292929;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 10px 10px 10px 39px;
  font-size: 12px;
  -webkit-box-shadow: 0 0 0.75em 0.25em rgba(255, 255, 255, 0.2);
          box-shadow: 0 0 0.75em 0.25em rgba(255, 255, 255, 0.2);
  -webkit-transition: -webkit-box-shadow 0.5s ease;
  transition: -webkit-box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease, -webkit-box-shadow 0.5s ease;
}

.search__section .search-box__input:hover, .search__section .search-box__input:focus {
  outline: 0;
  -webkit-box-shadow: 0 0.5em 1.5em 0.25em rgba(255, 255, 255, 0.2);
          box-shadow: 0 0.5em 1.5em 0.25em rgba(255, 255, 255, 0.2);
}

.search__section .search-box__input + i {
  position: absolute;
  width: 2px;
  height: 22px;
  border-radius: 2px;
  background-color: #c4c4c4;
  left: 20px;
  top: 50%;
  -webkit-transform: rotateZ(-45deg) translateY(-50%);
          transform: rotateZ(-45deg) translateY(-50%);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.4, -1, 0.6, 2);
  transition: -webkit-transform 0.5s cubic-bezier(0.4, -1, 0.6, 2);
  transition: transform 0.5s cubic-bezier(0.4, -1, 0.6, 2);
  transition: transform 0.5s cubic-bezier(0.4, -1, 0.6, 2), -webkit-transform 0.5s cubic-bezier(0.4, -1, 0.6, 2);
}

.search__section .search-box__input + i::before {
  content: "";
  display: block;
  position: relative;
  top: 0;
  left: -0.2em;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 2px solid #c4c4c4;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.4, -1, 0.6, 2);
  transition: -webkit-transform 0.5s cubic-bezier(0.4, -1, 0.6, 2);
  transition: transform 0.5s cubic-bezier(0.4, -1, 0.6, 2);
  transition: transform 0.5s cubic-bezier(0.4, -1, 0.6, 2), -webkit-transform 0.5s cubic-bezier(0.4, -1, 0.6, 2);
}

.search__section .search-box__input:focus {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 10px 19px 10px 30px;
}

.search__section .search-box__input:focus + i {
  -webkit-transform: rotateZ(0) translateY(-50%);
          transform: rotateZ(0) translateY(-50%);
  -webkit-animation: blink 1.1s infinite 0.5s;
          animation: blink 1.1s infinite 0.5s;
}

.search__section .search-box__input:focus + i::before {
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}

.search__section .search-box__input:not(:focus) {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.search__section button {
  background-color: #8dc63f;
  font-size: 14px;
  border: 0;
  color: #fff;
  padding: 0 17px;
  border-radius: 5px;
  cursor: pointer;
}

.search__section button:hover {
  background-color: #74a133;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.search__section button:not(:hover) {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*
  Main section container.
*/
.main-content__section {
  margin-top: 37px;
  position: relative;
  min-height: 80vh;
}

.main-content__section #main-content__tabel {
  width: 100%;
  border-collapse: collapse;
}

.main-content__section #main-content__tabel table,
.main-content__section #main-content__tabel td,
.main-content__section #main-content__tabel th,
.main-content__section #main-content__tabel tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 21px 0;
  color: rgba(0, 0, 0, 0.5);
  font-size: 11px;
  text-align: left;
  table-layout: auto;
}

.main-content__section #main-content__tabel tr td {
  font-size: 12px;
}

.main-content__section #main-content__tabel tr td:nth-child(2) {
  font-size: 14px;
  color: #000;
}

.main-content__section #main-content__tabel tbody tr:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.05);
}

.main-content__section #main-content__tabel tr:not(:hover) {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

/*
Animations for spinner.
*/
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*
Animations for search.
*/
@-webkit-keyframes blink {
  49% {
    opacity: 0;
  }
  50% {
    oppacity: 1;
  }
  51% {
    oppacity: 1;
  }
  52% {
    opacity: 0;
  }
}
@keyframes blink {
  49% {
    opacity: 0;
  }
  50% {
    oppacity: 1;
  }
  51% {
    oppacity: 1;
  }
  52% {
    opacity: 0;
  }
}

/*
  Media Queries.
*/
@media screen and (max-width: 499.9px) {
  .container {
    padding: 0 20px !important;
  }
  nav {
    height: 13vh;
  }
  nav .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .container .logo {
    margin-top: 10px;
  }
  nav .container .logo img {
    margin-top: 10px;
  }
  .search__section .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 1rem;
  }
  .search__section .search-box__input {
    width: 100%;
  }
  .search__section button {
    width: 100%;
    padding: 10px 0;
    margin-top: 2rem;
  }
  .main-content__section {
    margin-top: 2rem;
  }
  .main-content__section #main-content__tabel {
    /* Force table to be inline for readability. */
    /* Hide table headers. */
    /*
        Labels the rows so we know what 
        data we are looking at.
      */
  }
  .main-content__section #main-content__tabel table,
  .main-content__section #main-content__tabel thead,
  .main-content__section #main-content__tabel tbody,
  .main-content__section #main-content__tabel th,
  .main-content__section #main-content__tabel td,
  .main-content__section #main-content__tabel tr {
    display: block;
    padding: 15px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .main-content__section #main-content__tabel table:hover,
  .main-content__section #main-content__tabel thead:hover,
  .main-content__section #main-content__tabel tbody:hover,
  .main-content__section #main-content__tabel th:hover,
  .main-content__section #main-content__tabel td:hover,
  .main-content__section #main-content__tabel tr:hover {
    overflow: visible;
  }
  .main-content__section #main-content__tabel thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .main-content__section #main-content__tabel tr {
    margin: 0 0 1rem 0;
  }
  .main-content__section #main-content__tabel tr:nth-child(odd) {
    background: #ccc;
  }
  .main-content__section #main-content__tabel tr:nth-child(even) {
    background: #e7e7e7;
  }
  .main-content__section #main-content__tabel td {
    /* Behave  like a row. */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  .main-content__section #main-content__tabel td:before {
    /* Now like a table header. */
    position: absolute;
    /* Top/left values mimic padding. */
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  .main-content__section #main-content__tabel td:nth-of-type(1):before {
    padding: 15px 0;
    content: "ID";
  }
  .main-content__section #main-content__tabel td:nth-of-type(2):before {
    padding: 15px 0;
    content: "Company Name";
  }
  .main-content__section #main-content__tabel td:nth-of-type(3):before {
    padding: 15px 0;
    content: "Owner email";
  }
  #loading {
    -webkit-transform: translate(-50%, -90%);
            transform: translate(-50%, -90%);
  }
}

/*
  Devices up to 1050px.
*/
@media screen and (max-width: 1050px) {
  .container {
    padding: 0 50px;
  }
}

/*
  Devices above 1050px.
*/
@media screen and (min-width: 499.9px) {
  .search__section {
    max-height: 67px;
  }
  .main-content__section #main-content__tabel tr th:first-child,
  .main-content__section #main-content__tabel tr td:first-child {
    padding-left: 25px;
    width: 120px;
  }
  .main-content__section #main-content__tabel tr th:nth-child(2),
  .main-content__section #main-content__tabel tr td:nth-child(2) {
    width: 220px;
  }
}
/*# sourceMappingURL=main.css.map */