//Searchbox variables.
$inputBgColor: #fff;
$inputTextColor: #292929;
$mWidthMedium: 1050px;
$mWidthMobile: 499.9px;
$minWidthMax: 500px;
$maxContainerWidth: 1000px;
$animation-bounce: cubic-bezier(0.4, -1, 0.6, 2);

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.content {
  width: 100%;
  min-height: 100vh;
}

.container {
  max-width: $maxContainerWidth;
  margin: 0 auto;
}

/*
  Navigation.
*/
nav {
  max-width: 100%;
  height: 50px;
  margin: 0 auto;
  background-color: #259bc1;
  .container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    .logo {
      display: flex;
      color: #055e92;
      align-items: center;
      img {
        padding-right: 10px;
      }
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      display: flex;
      justify-content: flex-end;
      li {
        color: #80c4da;
        text-align: center;
        align-self: center;
        padding: 0;
        a {
          font-size: 11px;
          color: inherit;
          text-decoration: none;
          display: inline-block;
          padding: 11.5px 10px;
          height: 100%;
          &:hover:not(.active) {
            color: #fff;
          }
        }
        &:first-child {
          padding-right: 7px;
        }
        &:last-child {
          padding-right: 8px;
        }
      }
      .active {
        background-color: #51afcd;
        border-radius: 5px;
        a {
          color: #fff;
        }
      }
    }
  }
}

/*
  Search section.
*/
.search__section {
  padding: 17px 0;
  background-color: #f8f8f8;
  .container {
    display: flex;
    justify-content: space-between;
  }
  // Search Box.
  .search-box {
    position: relative;
    ::placeholder {
      padding-left: 1px; // Resets blinking pixel on input.
      font-size: 12px;
      font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
      color: #c4c4c4;
    }
    &__input {
      background-color: $inputBgColor;
      caret-color: $inputBgColor;
      color: $inputTextColor;
      border: 1px solid #c4c4c4;
      border-radius: 5px;
      padding: 10px 10px 10px 39px;
      font-size: 12px;
      box-shadow: 0 0 0.75em 0.25em rgba($inputBgColor, 0.2);
      transition: box-shadow 0.5s ease;
      // Adds shadow to input
      &:hover,
      &:focus {
        outline: 0;
        box-shadow: 0 0.5em 1.5em 0.25em rgba($inputBgColor, 0.2);
      }
      // Display Search Icon.
      // Handle.
      + i {
        position: absolute;
        width: 2px;
        height: 22px;
        border-radius: 2px;
        background-color: #c4c4c4;
        left: 20px;
        top: 50%;
        transform: rotateZ(-45deg) translateY(-50%);
        transform-origin: top;
        transition: transform 0.5s $animation-bounce;
        // Glass.
        &::before {
          content: "";
          display: block;
          position: relative;
          top: 0;
          left: -0.2em;
          width: 12px;
          height: 12px;
          border-radius: 100%;
          border: 2px solid #c4c4c4;
          background-color: #fff;
          transition: transform 0.5s $animation-bounce;
        }
      }

      // Display custom search icon.
      &:focus {
        + i {
          transform: rotateZ(0) translateY(-50%);
          animation: blink 1.1s infinite 0.5s;
          &::before {
            transform: rotateY(90deg);
          }
        }
        transition: 0.5s;
        padding: 10px 19px 10px 30px;
      }
      // For placeholder focus out animation.
      &:not(:focus) {
        transition: 0.5s;
      }
    }
  } //Searchbox end.
  button {
    background-color: #8dc63f;
    font-size: 14px;
    border: 0;
    color: #fff;
    padding: 0 17px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: #74a133;
      transition: 0.5s;
    }
    &:not(:hover) {
      transition: 0.5s;
    }
  }
}

/*
  Main section container.
*/
.main-content__section {
  margin-top: 37px;
  #main-content__tabel {
    width: 100%;
    border-collapse: collapse;
    table,
    td,
    th,
    tr {
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      padding: 21px 0;
      color: rgba(0, 0, 0, 0.5);
      font-size: 11px;
      text-align: left;
      table-layout: auto;
    }
    tr td {
      font-size: 12px;
    }
    tr td:nth-child(2) {
      font-size: 14px;
      color: #000;
    }
  }
  #main-content__tabel tbody tr:hover {
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.05);
  }
  #main-content__tabel tr:not(:hover) {
    transition: 0.5s;
  }
}

// Helpers to switch loading and table.
.hidden {
  display: none;
}

.visible {
  display: block;
}

// Messages container.
#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

// Loading spiner when data is loading.
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

/*
Animations for spinner.
*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*
Animations for search.
*/
@keyframes blink {
  49% {
    opacity: 0;
  }
  50% {
    oppacity: 1;
  }
  51% {
    oppacity: 1;
  }
  52% {
    opacity: 0;
  }
}

/*
  Media Queries.
*/

// Mobile optimization.
@media screen and (max-width: $mWidthMobile) {
  .container {
    padding: 0 20px !important;
  }

  nav {
    height: 13vh;
    .container {
      flex-direction: column;
      align-items: center;
      .logo {
        margin-top: 10px;
        img {
          margin-top: 10px;
        }
      }
    }
  } // Nav.

  .search__section {
    .container {
      flex-direction: column;
      margin-top: 1rem;
    }

    .search-box__input {
      width: 100%;
    }

    button {
      width: 100%;
      padding: 10px 0;
      margin-top: 2rem;
    }
  }

  .main-content__section {
    margin-top: 2rem;
    #main-content__tabel {
      /* Force table to be inline for readability. */
      table,
      thead,
      tbody,
      th,
      td,
      tr {
        display: block;
        padding: 15px 0;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        // On hover shows email.
        &:hover {
          overflow: visible;
        }
      }

      /* Hide table headers. */
      thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }

      tr {
        margin: 0 0 1rem 0;
      }
      tr:nth-child(odd) {
        background: #ccc;
      }
      tr:nth-child(even) {
        background: rgb(231, 231, 231);
      }

      td {
        /* Behave  like a row. */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
      }

      td:before {
        /* Now like a table header. */
        position: absolute;
        /* Top/left values mimic padding. */
        top: 0;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
      }

      /*
        Labels the rows so we know what 
        data we are looking at.
      */
      td:nth-of-type(1):before {
        padding: 15px 0;
        content: "ID";
      }
      td:nth-of-type(2):before {
        padding: 15px 0;
        content: "Company Name";
      }
      td:nth-of-type(3):before {
        padding: 15px 0;
        content: "Owner email";
      }
    }
  }
  #loading {
    top: auto;
    bottom: 0;
  }
}

/*
  Devices up to 1050px.
*/
@media screen and (max-width: $mWidthMedium) {
  .container {
    padding: 0 50px;
  }
}

/*
  Devices above 1050px.
*/
@media screen and (min-width: $mWidthMobile) {
  .search__section {
    max-height: 67px;
  }
  .main-content__section {
    #main-content__tabel {
      tr th:first-child,
      tr td:first-child {
        padding-left: 25px;
        width: 120px;
      }
      tr th:nth-child(2),
      tr td:nth-child(2) {
        width: 220px;
      }
    }
  }
}
